body{
    background:url(../imagenes/fondo.jpg);
    margin: 80px 600px ;
}
h1{
    font-family: "verdana" ;
    color:black;
    width: 40px;
}
  
input[type="button"]{
    margin-bottom: 0;
    background: rgb(114, 153, 216);
    color: rgb(242, 239, 245);
    border-radius: 10px;
    width: 20%;
    height: 60px;
}
input[type="button"]:hover{
   background: rgb(32, 78, 78);
   cursor: pointer;
}

form {
    float:none; 
    padding:15px; 
    background-color:#BDBDBD; 
    border-radius:30px; box-shadow: 20px 20px 10px #888888;
}
input[type="int"]{
    width: 100%;
    box-shadow: 5px 5px 0 black;
    display: block;
    height: 30px;
}

.rojo [type="button"]:hover{
    background: rgb(194, 67, 36);
    cursor: pointer;
 }